@import '~bootstrap/scss/bootstrap';

body {
    background-color: #7c2929;
}

h1,
h4 {
    color: black;
}

.card {
    background-color: #5856ca;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    padding: 30px;
}

.card-body {
    transform: translate(10%, 10%);
}